.add-item-box {
  background-color: var(--dark-pink);
  border-radius: 10px;
  width: 80%;
  margin: 10px 0;
  box-shadow: 3px 3px 10px gray;
}

.add-item-text {
  margin: 5% 0 5% 5%;
}

input {
  resize: horizontal;
  width: 200px;
  border-radius: 5px;
  border: 0;
}
