.add-list-box {
  background-color: var(--pink);
  border-radius: 10px;
  box-shadow: 3px 3px 7px gray;
  width: 80%;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

input {
  margin: 20px;
}

h1 {
  margin-top: 0px;
}
