* {
  font-family: "Roboto Mono", monospace;
  font-size: x-large;
  --purple: #cdb4db;
  --pink: #ffc8dd;
  --dark-pink: #ffafcc;
  --blue: #bde0fe;
  --dark-blue: #a2d2ff;
}

html {
  background-image: -webkit-linear-gradient(
    65deg,
    var(--dark-blue) 50%,
    var(--dark-pink) 50%
  );
}
